{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <a href="{{ path('product_add') }}" class='btn btn-primary'>Criar nova produto</a>

    <form method='get' class='mt-3 mb-4'>
      <label>Pesquiser pelo nome</label>
      <input type='text' name='name' class='form-control mb-2' value='{{ productName }}'/>
      <button type='submit' class='btn btn-primary'>Pesquisar</button>
    </form>

    <form method='get' class='mt-3 mb-4'>
      <label>Pesquiser por preço</label>
      <input type='text' name='price' class='form-control mb-2' value='{{ productPrice }}'/>
      <button type='submit' class='btn btn-primary'>Pesquisar</button>
    </form>

    <table class='table'>
      <thead>
        <tr>
          <td>#</td>
          <td>Nome</td>
          <td>Valor</td>
          <td>Categoria</td>
          <td>Ações</td>
        </tr>
      </thead>

      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.category.description }}</td>
            <td>
              <a href='{{ path("product_edit", {id: product.id}) }}' class='btn btn-primary'>Editar</a>
              <a href='{{ path("product_delete", {id: product.id}) }}' class='btn btn-primary'>Excluir</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
{% endblock %}
