{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <a href="{{ path('product_add') }}" class='btn btn-primary'>Criar nova produto</a>
    <table class='table'>
      <thead>
        <tr>
          <td>#</td>
          <td>Nome</td>
          <td>Valor</td>
          <td>Categoria</td>
          <td>Ações</td>
        </tr>
      </thead>

      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.category.description }}</td>
            <td>
              <a href='{{ path("product_edit", {id: product.id}) }}' class='btn btn-primary'>Editar</a>
              <a href='{{ path("product_delete", {id: product.id}) }}' class='btn btn-primary'>Excluir</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
{% endblock %}
