{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>

    <ul>
      {% for fruit in fruits %}
        <li>{{ fruit.name }} R${{ fruit.price }} </li>
      {% endfor %}
    </ul>
{% endblock %}